

.cards{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100vw;
    background: #f6fff9;
    margin-top: 50px;
    padding-top: 50px;
    border-top: 3px solid black;
}
.movieCard{
    display: flex;
    background: #5b6a74;
    width: 15vw;
    height: 50vh;
    margin: 10px;
    color: white;
    border-radius: 15px;
    border: 2px solid rgb(83, 83, 83);
    box-shadow: 10px 10px 15px rgb(131, 131, 131);
   
}
.poster{
    height: 30vh;
    margin-top: 10px;  
    border-radius: 7px;
    
    box-shadow: 10px 10px 20px rgb(32, 33, 34); 
    transition: all .3s ease-in-out; 
}
.poster:hover{
    transform: scale(1.5);
    box-shadow: 40px 40px 20px rgba(59, 64, 66, 0.507); 
    
}