.editCard{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5b6a74;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}
.input {
    border-radius: 10px;
    text-align: center;
    margin: 0 10px 0 20px;
    
    
    
}
.deleteButton{
    margin-left: 10px;
}
