header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
    width: 100vw;
}
h1{
    font-size: 60px;
    color: rgb(198, 242, 255);
    text-shadow: rgb(73, 168, 172) 3px 3px 10px, rgb(73, 168, 172) -3px -3px 10px, rgb(73, 168, 172) -3px 3px 10px, rgb(73, 168, 172) 3px -3px 10px;
}