.App{
    background-image: url('./Images/theater.jpg') ;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    min-height: 100%;
    
    font-family: 'Libre Baskerville', serif;
}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.movieCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}